<section class="panel">
  <div class="panel-body">
    <h2>Upcoming events</h2>
    <ul>
      <li>June 26-27, Tel-Aviv - <a href="https://bigdataboutique.com/courses/elasticsearch-for-developers?c972" target="_blank">Elasticsearch for Developers 2 day training course</a></li>
      <li>June 30, Tel-Aviv - <a href="https://bigdataboutique.com/courses/maintaining-elasticsearch-in-production?c972" target="_blank">Maintaining Elasticsearch in Production training course</a></li>
    </ul>
    <p>Interested in public or private training in your area? <a href="/contact">Drop me a line.</a></p>
  </div>
</section>
<section class="panel">
  <div class="panel-body">
    <p><a href="https://bigdataboutique.com/" target="_blank"><img src="/static/theme/images/bdbq.png" title="BigData Boutique" style="width: 100%;"></a></p>
    <p>I'm the Founder and CTO of <a href="https://bigdataboutique.com/" target="_blank">BigData Boutique</a>, a Premium Consulting firm focusing on BigData and Cloud technologies.</p>
    <p>We are a team of industry experts delivering training, support and consulting services on BigData and Cloud technologies world-wide.</p>
    <p>Checkout my workshops: <a href="https://bigdataboutique.com/courses/elasticsearch-for-developers" target="_blank">Elasticsearch for Developers</a>, <a href="https://bigdataboutique.com/courses/maintaining-elasticsearch-in-production" target="_blank">Maintaining Elasticsearch in Production</a>.</p>
  </div>
</section>
<section>
  <p style="text-align:center"><a href="http://manning.com/synhershko/"><img src="https://s3-eu-west-1.amazonaws.com/blog-statics/ria_zps609cfbfa.jpg" style="border:1px solid #000"></a></p>
</section>
{{> search-widget}}
{{> recent-tags-widget}}
