<section class="panel">
  <div class="panel-body">
    <h2>Upcoming events</h2>
    {{embedContentPage "upcoming-events-sidebar"}}
  </div>
</section>
<section class="panel">
  <div class="panel-body">
  {{embedContentPage "about-sidebar"}}
  </div>
</section>
{{> search-widget}}
{{> recent-tags-widget}}
