<section class="panel">
  <div class="panel-body">
    <h2>Upcoming events</h2>
    {{embedContentPage "upcoming-events-sidebar"}}
  </div>
</section>
<section class="panel">
  <div class="panel-body">
    <p><a href="https://bigdataboutique.com/" target="_blank"><img src="/static/theme/images/bdbq.png" title="BigData Boutique" style="width: 100%;"></a></p>
    <p>I'm the Founder and CTO of <a href="https://bigdataboutique.com/" target="_blank">BigData Boutique</a>: a Premium Consulting firm focusing on BigData technologies, with expertise with Elasticsearch, the Elastic Stack Kafka and Presto.</p>
    <p>We are a team of industry experts delivering training, support and consulting services on BigData technologies world-wide.</p>
    <p>More about us on our website: <a href="https://bigdataboutique.com">https://bigdataboutique.com</a></p>
  </div>
</section>
{{> search-widget}}
{{> recent-tags-widget}}
