<div class="col-md-12">
    <h1>Contact me</h1>
    <p>I can be reached on social and e-mail, as follows:</p>
    <ul>
      <li><b>Email:</b> itamar at this domain</li>
      <li><b>Twitter:</b> <a href="https://twitter.com/synhershko">@synhershko</a></li>
      <li><b>LinkedIn:</b> <a href="http://www.linkedin.com/pub/itamar-syn-hershko/13/250/78b">http://www.linkedin.com/pub/itamar-syn-hershko/13/250/78b</a></li>
      <li><b>KeyBase:</b> <a href="https://keybase.io/synhershko">synhershko</a></li>
    </ul>
</div>

<div style="margin-bottom: 20px">
  Or you can submit the form below:
</div>
{{> contact-form}}