h1, h2, h3, h4, h5, h6 {
    color: #008cba;
}

.form-control:focus {
    border-color: #008cba;
}

blockquote {
    border-color: #008cba;
    border-bottom: solid 1px #008cba;
}

    blockquote.pull-right {
        border-right: 5px solid #008cba;
        border-bottom: solid 1px #008cba;
    }

.lead strong {
    color: #008cba;
}

.well {
    border-color: #008cba;
}

.jumbotron {
    border-bottom: solid 5px #008cba;
    border-top: solid 5px #008cba;
    border-left: solid 1px #008cba;
    border-right: solid 1px #008cba;
}

.panel-primary .panel-heading, .panel-primary .panel-footer {
    background-color: #008cba;
}

    .panel-primary .panel-heading a, .panel-primary .panel-footer a {
        color: #53d5ff;
    }

.panel-primary {
    border-color: #008cba;
}

    .panel-primary .panel-heading, .panel-primary .panel-footer {
        background-color: #008cba;
    }

.panel-group > .panel .panel-body {
    border: solid 1px #008cba !important;
}

.panel-group > .panel .panel-heading a {
    background-color: #008cba;
}

.nav-pills > li > a {
    color: #008cba;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #008cba;
}

.nav-tabs li a:hover, .nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
    color: #008cba;
    border-top: solid 3px #008cba;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    background-color: #008cba;
    border-color: #008cba;
}

.btn-primary {
    background-color: #008cba;
    border-color: #006687;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
        background-color: #006687;
        border-color: #003f54;
    }

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    border-color: #008cba;
}

.badge {
    background-color: #008cba;
}

.label-primary {
    background-color: #008cba;
}

.table > thead > tr > th {
    border-bottom: 2px solid #008cba;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    background-color: #008cba;
    border-color: #008cba;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #008cba;
    border-color: #008cba;
}

dt {
    color: #008cba;
}

#header {
    background-color: #333;
}

#header-title h1 span {
    color: #53d5ff;
}

#search-header input {
    background-color: #666;
    border-color: #666;
}

a.social-icon:hover {
    background-color: #008cba;
}

.navbar-mind .navbar-brand span {
    color: #53d5ff;
}

.navbar-mind {
    background-color: #2b2511;
    background-color: rgba(43, 37, 17, 0.7);
}

.navbar-mind .nav a:hover, .navbar-mind .nav li.active a, .navbar-mind .nav a:focus {background-color: #333;}
.navbar-mind .nav .open > a, .navbar-mind .nav .open > a:hover, .navbar-mind .nav .open > a:focus {background-color: #333;}

    .navbar-mind .nav a .caret {
        border-top-color: #00b2ed;
        border-bottom-color: #00b2ed;
    }

    .navbar-mind .nav .open > a .caret, .navbar-mind .nav .open > a:hover .caret, .navbar-mind .nav .open > a:focus .caret, .navbar-mind .nav .active .caret, .navbar-mind .nav a:hover .caret, .navbar-mind .nav a:focus .caret {
        border-top-color: #008cba;
        border-bottom-color: #008cba;
    }

    .navbar-mind .dropdown-menu {
        background-color: #333;
        border-bottom: solid 0 #333;
        border-left: solid 1px #333;
        border-right: solid 1px #333;
        border-top: solid 0 #333;
    }

    #header ul.dropdown-menu a { color: black;}
    
    .navbar-mind .dropdown-menu a:hover, .navbar-mind .dropdown-menu li.active a:hover, .navbar-mind .dropdown-menu a:focus, .navbar-mind .dropdown-menu li.active a:focus, .navbar-mind .dropdown-menu li.active a {
        background-color: #008cba !important;
    }

    .navbar-mind .nav .nav-divider {
        background-color: #333;
    }

    .navbar-mind .dropdown-header {
        border-bottom: solid 1px #333;
        border-top: solid 1px #333;
    }

.dropdown-login {
    border-top: solid 4px #333 !important;
    border-bottom: solid 4px #333 !important;
}

.dropdown-profile {
    border-top: solid 4px #333 !important;
    border-bottom: solid 4px #333 !important;
}

.mind-features-item i {
    color: #008cba;
}

.mind-features-item .item-content {
    background-color: #008cba;
}

.home-post-title a {
    color: #008cba;
}

.pricign-box-pro {
    border-color: #008cba;
}

    .pricign-box-pro > .pricing-box-header {
        background-color: #008cba;
    }

#footer-widgets {
    background-color: #333;
    border-top: solid 5px #008cba;
}

    #footer-widgets a {
        color: #53d5ff;
    }

#footer a {
    color: #53d5ff;
}

.coming {
    background-color: #333;
    color: #aaa;
}

    .coming h1 span {
        color: #53d5ff;
    }

.coming-color {
    background-color: #53d5ff;
}

.coming-social > a:hover {
    background-color: #008cba;
}

@media (min-width:992px) {
    .coming-logo {
        border-left: solid 1px #53d5ff;
    }
}

.post-info span {
    color: #008cba;
}

.block ul.simple li a {
    border-left: solid 2px #008cba;
}

.tags-cloud a {
    color: #008cba;
}

    .tags-cloud a:hover {
        background-color: #008cba;
    }

.portfolio-control > li.active, .portfolio-control > li:hover {
    background-color: #008cba;
}

.wrap-coming2 h1 span, .wrap-coming2 h2 span {
    color: #53d5ff;
}

@media (min-width:768px) {
    .timeline-event-left:after {
        border-color: transparent transparent transparent #008cba;
    }

    .timeline-event-right:after {
        border-color: transparent #008cba transparent transparent;
    }

    .timeline-event-right:before {
        background-color: #008cba;
    }

    .timeline-event-left:before {
        background-color: #008cba;
    }
}

.timeline-title span {
    background-color: #008cba;
    padding: 8px;
    color: #fff;
    border-radius: 3px;
}

.mind-box {
    background-color: #008cba;
}

    .mind-box:hover {
        background-color: #0079a1;
    }

.mind-box-success {
    background-color: #097900;
}

    .mind-box-success:hover {
        background-color: #076000;
    }

.mind-box-info {
    background-color: #8300ae;
}

    .mind-box-info:hover {
        background-color: #700095;
    }

.mind-box-warning {
    background-color: #f89e01;
}

    .mind-box-warning:hover {
        background-color: #df8e01;
    }

.mind-box-danger {
    background-color: #bf0000;
}

    .mind-box-danger:hover {
        background-color: #a60000;
    }

.inverse-wrap {
    background-color: #333;
}

    .inverse-wrap .lead strong {
        color: #53d5ff;
    }

.service-list li:before {
    border: solid 1px #008cba;
    color: #008cba;
}

.icon-item:hover i {
    color: #53d5ff;
}

.back .icon-item h3 {
    color: #53d5ff;
}

.icon-box i {
    background-color: #fff;
    border-left: solid 4px #008cba;
    color: #008cba;
}

.icon-box .icon-box-content {
    background-color: #fff;
}

.icon-box.icon-box-inverse .icon-box-content {
    background-color: #008cba;
}

.icon-box.icon-box-inverse i {
    background-color: #006687;
}


.navbar-mind .nav a:hover {
    background-color: #00708c;
}
/* override openmind top menu style */
#search-header {
    top: 20px;
}

.carousel-mind-back-2 {
    background-image: url(back.jpg);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.meta .date {
    display: inline;
}

.meta {
    margin-left: 4px;
    margin-bottom: 30px;
    color: #999;
}

    .meta a {
        color: #999;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

        .meta a:hover {
            color: #666;
        }

.date,
.tags,
.comments,
.edit {
    padding-right: 10px;
}

    .date:before,
    .tags:before,
    .comments:before,
    .edit:before {
        font: 1em FontAwesome;
        left: 0;
        margin-right: 5px;
    }

.meta .date:before,
.meta .tags:before,
.meta .comments:before,
.meta .edit:before {
    font: 1.3em FontAwesome;
    color: #ccc;
}

@media screen and (max-width: 800px) {
    .meta .date,
    .meta .tags,
    .meta .comments,
    .meta .edit {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
        margin-right: 30px;
    }
}

.date:before {
    content: "\f073";
}

.tags:before {
    content: "\f02c";
}

.comments:before {
    content: "\f075";
}

.edit:before {
    content: "\f044";
}

#social-nav a {
    display: -moz-inline-stack;
    display: inline-block;
    opacity: 0.5;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    zoom: 1;
}

    #social-nav a:hover {
        opacity: 1;
    }

    #social-nav a.github:hover {
        color: #000;
    }

    #social-nav a.rss:hover {
        color: #cf5d0f;
    }

#header-title, #header-title h1 {
    font-family: 'Varela Round','Abel',sans-serif;
    text-shadow: 0 0 15px #3C3C3C;
    width: 250px;
}
#search-header {
    text-align: right;
    font-family: 'Varela Round','Abel',sans-serif;
    text-shadow: 0 0 15px #3C3C3C;
    bottom: 0;
    right: 0;
}

#header {
    height: 450px;
    background-image: url(../images/header.jpg);
    -ms-background-size: cover;
    background-size: cover;
    zoom: 1;
    float: none;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    background-position: 50% 40%;
}
#header-about-link { color: yellow; }
#header-about-link:hover { color: yellow;text-decoration: underline; }
#header-title { height: 400px; /* #header.height - #navbar.height */ }

.page-title { padding-top: 20px;}
#content-page { margin-top: 25px;}
#content-page h1, #content-page h2, #content-page h3, #content-page p, #content-page li, #sidebar h2, #sidebar h3, #sidebar h3, #sidebar p, #sidebar li, .page-title h1, .post-title, article > h1 { font-family: 'Varela Round','Abel',sans-serif; } 
#content-page p, #content-page li { font-size: 16px; }
#sidebar h2{ color: black;}
article > h1 { padding-top: 20px; }
.post-title { margin-top: 20px;margin-bottom: 10px; border: 0; }

blockquote {
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  
  border: 0;
  
  /*Box Shadow */
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote span.by {
  margin: 10px;
  display: block;
  color: #999;
  font-size: 16px;
}

blockquote::after{
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

#contact_form div {
    margin: 5px;
}

article.post {
    margin-top: 30px;
    padding: 0 10px 10px 10px;
    border-top: 1px solid rgba(204, 204, 204, 0.3);
    -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.05), 0 4px 6px 0 rgba(0,0,0,0.08);
    -ms-box-shadow: 0 1px 0 0 rgba(0,0,0,0.05), 0 4px 6px 0 rgba(0,0,0,0.08);
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.05), 0 4px 6px 0 rgba(0,0,0,0.08);
}

.panel-footer { background-color: #fff;}
.read-more { padding-bottom: 10px;}
.read-more a {color: #a60000;font-weight: bold;}

.blog-pagination {
    margin-top: 10px;
    text-align: center;
}

/* keep last */
.boxed {
    background-color: #fff;
}

article.post h1 {
    margin-top: 20px;
    font-size: 2.5em;
}
div.reading-time {
    color: #777;
    margin-top: 0;
    margin-bottom: 20px;
}
